.center {
  margin: auto;
  padding: 10px;
}

.mdl-card {
  padding: 30px;
  background: #ffffff;
}

.login_error {
  color: red;
}

.vacation_cell {
  background: #7777ee;
}

.user_cell {
  font-weight: bold;
}